### Maven ###
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.mvn/wrapper/maven-wrapper.jar

### Spring Boot ###
*.log
spring-shell.log

### IDE ###
.idea/
*.iml
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

### OS ###
.DS_Store
Thumbs.db

### Environment ###
.env
.env.local
application-local.properties
